/* ### NAVBAR ### */
:root {
  --nav-height: 50px;
  --theme-color: rgb(47, 121, 196);
}


.navbar {
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  height: var(--nav-height);
  @extend .box-shadow;
  padding: 0 25px;

  .nav-item > * {
    font-size: 15px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }

  &-collapse {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    button {
      cursor: pointer;
      position: relative;
      border: none;
      background: none;
    }
  }

  &-profile-icon {
    color: #fff;
    align-self: center;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    overflow: hidden;

    &-profile-icon {
      display: unset;
    }
    
    &-session {
      background-color: var(--theme-color);
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      flex-direction: column;
    }
    
    .nav-item {
      padding: .5em 0;
    }
  }
}

@media screen and (min-width: 600px) {
  .navbar {
    &-nav {
      button {
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;

        &:focus,
        &:hover {
          color: #fff;
        }

        &:focus:after,
        &:hover:after {
          width: 100%;
          left: 0%;
        }
    
        &:after {
          content: "";
          pointer-events: none;
          bottom: -2px;
          left: 50%;
          position: absolute;
          width: 0%;
          height: 2px;
          background-color: #fff;
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-duration: 400ms;
          transition-property: width, left;
        }
      }
    }

    &-session {
      display: flex;
      gap: 1rem;
    }
  }
}