/* ### NAVBAR ### */
:root {
  --theme-color: rgb(47, 121, 196)
}


.navbar {
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  height: 50px;
  @extend .box-shadow;

  .nav-item > * {
    font-size: 15px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }

  &-collapse {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    padding: 1rem;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;

    li {
      list-style-type: none;
    }

    button {
      cursor: pointer;
      position: relative;
      border: none;
      background: none;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: color;

      &:focus,
      &:hover {
        color: #fff;
      }

      &:focus:after,
      &:hover:after {
        width: 100%;
        left: 0%;
      }
  
      &:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
      }
    }

  }
}